{% extends 'eunoia\template.html' %}
{% load static %}

{% block head %}

<!-- Stylesheet -->
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<title>MiDiaries | Blog</title>
{% endblock head %}


{% block content %}
    <div>
        <div class="container">
            <div class="row">
                <h1>{{post.title}}</h1>
            </div>
            <div>
                {{post.body|safe}}
            </div>
            <div class="row">
                <h4>Created by {{post.author}}</h4>
            </div>
        </div>
    </div>
{% endblock content %}