{% extends 'eunoia\template.html' %}
{% load static %}

{% block head %}

<!-- Stylesheet -->
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

{% endblock head %}


{% block content %}

    <div>
        <div class="container">
            {% for key, value in question.items %}
                <b>{{key}}</b>
                <p>{{value.des}}</p>
                {% for option in value.options %}
                    <input type="radio" value="{{option}}" name={{key}}>{{option}}
                {% endfor %}
                <br>
                <br>
            {% endfor %}
        </div>
    </div>

{% endblock content %}