{% extends 'registration\res_template.html' %}
{% load static %}
{% block head %}
<title>MiDiaries | Change Password</title>
{% endblock head %}

{% block content %}
    <div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
                {% if form.errors %}
                        <p>Inncorrect old password or password and confirm password doesn't match.</p>
                {% endif %}
				<div class="d-flex justify-content-center">
					<h3 id="form-title">Change your Password</h3>
				</div>
                <div class="d-flex justify-content-center">
                    <p>Use the form below change your password.</p>
                </div>
				<div class="d-flex justify-content-center form_container">
					<form method="POST" action="">
                        {% csrf_token %}
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							{{form.old_password}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
								{{form.new_password1}}
						</div>
                        <div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
								{{form.new_password2}}
						</div>

							<div class="d-flex justify-content-center mt-3 login_container">
				 				<input class="btn login_btn" type="submit" value="Change Password">
				   			</div>
							<div class="d-flex justify-content-center mt-3 login_container">
								<input class="btn login_btn" type="button" value="Cancel" onclick="window.location.href='{% url 'home' %}'">
							</div>
					</form>

				</div>
			</div>
		</div>
	</div>
    <script>
        //Query All input fields
        var form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder='Old Password..';
        form_fields[2].placeholder='New Password..';
        form_fields[3].placeholder='Re-Enter Password..';

        for (var field in form_fields){	
            form_fields[field].className += ' form-control'
        }
    </script>
{% endblock content %}